@import url("https://fonts.googleapis.com/css2?family=Rufina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

$darkBlue: #184e77;
$backgroundColor: #f5f5f5;
$greyColor: #615d5d;
$blackColor: #111111;

html {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-color: $backgroundColor;
  font-family: "Rufina", serif;
}

.container {
  height: 100%;
  width: 100vw;
}

.home_container {
  height: 100%;
  width: 100vw;
}

// Home Cover // Home Cover // Home Cover // Home Cover // Home Cover //

.homecover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1568953324602-3ed06e9815c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") !important;
  background-attachment: fixed;
  scroll-snap-align: start;
}


@keyframes changeBg {
  0% {
    background-image: url("https://images.pexels.com/photos/1042152/pexels-photo-1042152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  10% {
    background-image: url("https://images.pexels.com/photos/1042152/pexels-photo-1042152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  20% {
    background-image: url("https://images.unsplash.com/photo-1513623935135-c896b59073c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  30% {
    background-image: url("https://images.unsplash.com/photo-1513623935135-c896b59073c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  40% {
    background-image: url("https://images.unsplash.com/photo-1568953324602-3ed06e9815c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  50% {
    background-image: url("https://images.unsplash.com/photo-1568953324602-3ed06e9815c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  60% {
    background-image: url("https://images.unsplash.com/photo-1568953324602-3ed06e9815c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  70% {
    background-image: url("https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  80% {
    background-image: url("https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  90% {
    background-image: url("https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  100% {
    background-image: url("https://images.pexels.com/photos/1042152/pexels-photo-1042152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
}

@keyframes changeBg_slide {
  0% {
    background-image: url("https://images.pexels.com/photos/1042152/pexels-photo-1042152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  10% {
    background-image: url("https://images.pexels.com/photos/1042152/pexels-photo-1042152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  20% {
    background-image: url("https://images.unsplash.com/photo-1513623935135-c896b59073c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  30% {
    background-image: url("https://images.unsplash.com/photo-1513623935135-c896b59073c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  40% {
    background-image: url("https://images.unsplash.com/photo-1568953324602-3ed06e9815c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  50% {
    background-image: url("https://images.unsplash.com/photo-1568953324602-3ed06e9815c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  60% {
    background-image: url("https://images.unsplash.com/photo-1568953324602-3ed06e9815c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  70% {
    background-image: url("https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  80% {
    background-image: url("https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  90% {
    background-image: url("https://images.unsplash.com/photo-1519225421980-715cb0215aed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  }
  100% {
    background-image: url("https://images.pexels.com/photos/1042152/pexels-photo-1042152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
}

@keyframes changeColor {
  0% {
    color: #f5f5f5;
  }
  10% {
    color: #f5f5f5;
  }
  20% {
    color: #111111;
  }
  30% {
    color: #111111;
  }
  40% {
    color: #f5f5f5;
  }
  50% {
    color: #f5f5f5;
  }
  60% {
    color: #f5f5f5;
  }
  70% {
    color: #111111;
  }
  80% {
    color: #111111;
  }
  90% {
    color: #111111;
  }
  100% {
    color: #f5f5f5;
  }
}

@keyframes changeBorder {
  0% {
    border-color: #f5f5f5;
  }
  10% {
    border-color: #f5f5f5;
  }
  20% {
    border-color: #111111;
  }
  30% {
    border-color: #111111;
  }
  40% {
    border-color: #f5f5f5;
  }
  50% {
    border-color: #f5f5f5;
  }
  60% {
    border-color: #f5f5f5;
  }
  70% {
    border-color: #111111;
  }
  80% {
    border-color: #111111;
  }
  90% {
    border-color: #111111;
  }
  100% {
    border-color: #f5f5f5;
  }
}
// Cover NavBar // Cover NavBar // Cover NavBar // Cover NavBar // Cover NavBar // Cover NavBar // Cover NavBar

.nav_link {
  text-decoration: none;
  color: inherit;
}

.coverNavbar {
  width: 100%;
  height: 85px;
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  top: 0;
}

.coverNavbar ul {
  margin-right: 200px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 80vh;
}

.coverNavbar ul li {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #f5f5f5;
}

.cover_navbar_logo {
  margin-left: 0px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #f5f5f5;
  width: 130px;
  height: 50px;
  font-weight: 500;
  font-family: "Bodoni Moda", serif;
  
}

.cover_navbar_logo h1 {
  font-weight: 300;
  font-size: 65px;
  color: #f5f5f5;
}

// NAVBAR // NAVBAR // NAVBAR // NAVBAR // NAVBAR // NAVBAR //

.navbar {
  width: 100%;
  height: 85px;
  z-index: 2;
  background-color: $backgroundColor;
  display: flex;
  justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar ul {
  margin-right: 200px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 80vh;
  color: #251713;;
}

.navbar ul li {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
}

.navbar_button {
  margin-top: 18px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navbar img {
  margin-top: 5px;
  margin-left: 300px;
}

.homeNavbar {
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $backgroundColor;
  opacity: 0;
  top: 0;
}

.homeNavbar ul {
  margin-right: 200px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 80vh;
}

.homeNavbar ul li {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
}

.home_navbar_logo {
  margin-left: 0px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #251713;
  width: 130px;
  height: 50px;
  font-weight: 500;
  font-family: "Bodoni Moda", serif;
}

.home_navbar_logo h1 {
  font-weight: 300;
  font-size: 65px;
  color: #251713;
}

// Home Content 1 // Home Content 1 // Home Content 1 // Home Content 1

.homeContent1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
}

.homeText1 {
  height: 50vh;
  width: 30vw;
  margin-left: 10vw;
  margin-top: 7vh;
}

.homeText1 h1 {
  font-size: 50px;
  font-weight: 300;
  color: #956240;
  margin: 0;
  opacity: 0;
}

.homeText1 p {
  font-size: 20px;
  color: rgb(70, 69, 69);
  line-height: 1.5;
  
}

.homeImg1 {
  width: 50vw;
  height: 108.5vh;
  overflow: hidden;
  background-color: $backgroundColor;
  background-repeat:no-repeat;
  margin-left: 50vw;
  margin-bottom: 8.5vh;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.grey_background_object {
  background-color: rgb(245, 235, 224);
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Home Content 2 // Home Content 2 // Home Content 2 // Home Content 2

.homeContent2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #816e68;
  scroll-snap-align: start;
}

.homeText2 {
  height: 50vh;
  width: 45vw;
  margin-left: 52vw;
}

.homeText2 h1 {
  font-size: 40px;
  font-weight: 200;
  margin-left: 7vw;
  width: 75vh;
  height: 11vh;
  color: rgb(245, 235, 224);
}

.homeText2 p {
  font-size: 20px;
  height: 30vh;
  margin-left: 7vw;
  width: 30vw;
  color: #d3d3d3;
  line-height: 1.5;
}

.homeImg2 {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  background-color: #816e68;
  background-repeat:no-repeat;
  margin-right: 50vw;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.grey_background_object_homeImg2 {
  background-color: rgb(245, 235, 224);
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Projects // Projects // Projects // Projects // Projects // Projects

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  scroll-snap-align: start;
}

.projects h1 {
  margin-top: 80px;
  font-weight: 100;
  font-size: 40px;
  color: $blackColor;
}

.projects_border {
  border-top: 1.5px rgb(184, 184, 184) solid;
  width: 250px;
}

.projects_row {
  display: flex;
  width: 96%;
  height: 450px;
  margin-top: 70px;
  overflow-x: auto;
  cursor: grab;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.projects_cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.projects_cell img {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 0.15s;
  filter: grayscale(85%);
}

.projects_cell img:hover {
  transform: scale(1.07);
  opacity: 100%;
  filter: none;
}

.projects_cell h2 {
  font-size: 20px;
  font-weight: 100;

  color: $blackColor;
}

// Clients // Clients // Clients // Clients // Clients // Clients // Clients

.clients {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}

.clients h1 {
  font-weight: 100;
  font-size: 40px;
}

.clients_border {
  border-top: 1.5px rgb(160, 159, 159) solid;
  width: 250px;
  margin-bottom: 80px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin-bottom: 50px;
}

.images img {
  width: 200px;
  padding: 10px;
}

// Calendar // Calendar // Calendar // Calendar // Calendar // Calendar // Calendar

.calendar {
  height: 100%;
  background-color: #251713;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar h1 {
  font-weight: 100;
  font-size: 40px;
  color: $backgroundColor;
  margin-bottom: 100px;
}

.nextEventRow {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 50px;
}

.nextEventCell {
  width: 400px;
  height: 400px;
  margin: 0px;
  border-right: solid rgb(138, 136, 136) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextEventCell:last-of-type {
  border: none;
}

.nextEventContent {
  width: 80%;
  height: 80%;
}

.nextEventContent * {
  margin-left: 30px;
}

.nextEventContent h2 {
  color: $backgroundColor;
  font-size: 28px;
  font-weight: 200;
}

.nextEventContent h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 100px;
  color: #956240;
  font-weight: 300;
  margin: 0 0 0 30px;
}

.nextEventContent p {
  color: #b6b1b1;
  font-size: 22px;
}

.nextEventRow .eventCell:nth-child(3) {
  border-right: none;
}

.buttonDiv {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonDiv button {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid $blackColor;
}

.buttonDiv button:hover {
  background-color: $blackColor;
  color: $backgroundColor;
  cursor: pointer;
}

// Footer // Footer // Footer // Footer // Footer // Footer // Footer // Footer // Footer

.footer {
  margin: 0;
  height: 100%;
  width: 100%;
}

.main_footer {
  background-color: #150b09;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.contact_footer,
.location_footer,
.social_media_footer {
  margin-left: 150px;
}

.contact_footer h1,
.location_footer h1,
.social_media_footer h1 {
  color: #c7c7c7;
  font-size: 22px;
  font-weight: 300;
}

.contact_footer h2,
.location_footer h2,
.social_media_footer h2 {
  color: #838383;
  font-size: 17px;
  font-weight: 300;
}

.social_media_footer {
  width: 200px;
  height: 120px;
}

.social_media_footer_icons * {
  font-size: 25px;
  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 0;
  color: #c7c7c7;
}

.social_media_footer_icons *:hover {
  color: rgb(255, 255, 0);
  cursor: pointer;
}

.social_media_footer h2 {
  margin: 0;
}

.copyright {
  background-color: #251713;
  height: 30px;
  padding: 1px;
}

.copyright div {
  margin-top: 5px;
  color: $backgroundColor;
  font-size: 12px;
  margin-left: 15px;
  font-family: "Titillium Web", sans-serif;
}

// ABOUT US // ABOUT US // ABOUT US // ABOUT US // ABOUT US

// About Content 1 // About Content 1 // About Content 1 // About Content 1 // About Content 1

.aboutContent1 {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blackColor;
  position: relative;
}

.aboutText {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0px;
}

.aboutText h1 {
  margin-top: 120px;
  color: $backgroundColor;
  font-size: 45px;
  width: 50%;
  margin-left: 180px;
  animation: scale_ 0.4s 1.2s ease-in-out forwards;
  opacity: 0;
}

.aboutText p {
  width: 81%;
  margin-left: 180px;
  color: #d1c9c9;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  animation: slide-top 0.4s 1.4s ease-in-out forwards;
  opacity: 0;
}

.aboutContent1 img {
  height: 100%;
  margin-left: 103vh;
  width: 100vh;
  object-fit: cover;
  opacity: 0;
  animation: slide-left 0.8s 0.4s ease-in-out forwards;
}

// About Content 2 // About Content 2 // About Content 2 // About Content 2 // About Content 2

.aboutContent2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topElements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topElements h1 {
  font-weight: 400;
  margin-top: 70px;
  font-size: 40px;
  opacity: 0;
}

.topElements p {
  margin: 0;
  color: $greyColor;
}

.topElements p p {
  margin-left: 10px;
}

.border1 {
  margin-top: 20px;
  width: 400px;
  height: 20px;
  border-bottom: 1.5px rgb(184, 184, 184) solid;
}

.bottomElements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 50px;
}

.bottomElements p {
  font-size: 22px;
  margin-right: 150px;
  width: 600px;
  display: inline-block;
  position: relative;

  line-height: 1.5;
}

.bottomElements p p {
  border-left: none;
}

.border2 {
  height: 480px;
  width: 15px;
  border-left: 5px solid #c1a689;
  border-radius: 100px;
  margin-right: 15px;
}

.aboutContent2 img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 50px;
}

// Our Team // Our Team // Our Team // Our Team // Our Team // Our Team // Our Team // Our Team

.ourTeam {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.ourTeam_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourTeam_content h1 {
  margin-top: 70px;
  font-weight: 400;
  font-size: 40px;
}

.ourTeam_content_border {
  width: 350px;
  border-top: 1.5px rgb(184, 184, 184) solid;
}

.team_board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200vh;
  margin-top: 100px;
  height: 70%;
}

.team_cell {
  display: flex;
  width: 80vh;
  height: 250px;
  margin-left: 20px;
}

.team_detail {
  width: 50vh;
  height: 75%;
  margin-left: 50px;
}

.team_detail h2 {
  font-size: 30px;
  margin: 10px 0 0 30px;
}

.team_detail h3 {
  margin: 0px 0 0 30px;
}

.team_detail p {
  width: 90%;
  font-size: 15px;
  margin-left: 30px;
  font-style: italic;
}

.team_cell img {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  border-radius: 200px;
}
// Contact // Contact // Contact // Contact // Contact // Contact // Contact // Contact

.contact {
  margin: 0;
}

.talk_to_us {
  background-image: url("https://images.unsplash.com/photo-1581431886211-6b932f8367f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: $blackColor;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.talk_to_us_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 73vh;
  height: 55%;
  margin-top: 80px;
}

.talk_to_us_content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talk_to_us_block form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.talk_to_us_block h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0px;
  color: $blackColor;
  width: 250px;
}

.talk_to_us_block label {
  color: $blackColor;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  width: 100%;
}

.talk_to_us_block input::placeholder,
.talk_to_us_block textarea::placeholder {
  color: $blackColor;
  opacity: 1;
  font-family: "Rufina", serif;
  font-size: 20px;
}

.talk_to_us_block textarea::placeholder {
  padding-top: 5px;
}

.talk_to_us_block input[type="text"],
.talk_to_us_block textarea {
  width: 100%;
  border: none;
  background-color: #cecece;
  color: $blackColor;
  text-indent: 15px;
  font-size: 18px;
  font-family: "Rufina", serif;
  margin: 0;
  height: 40px;
}


#message_input {
  padding: 0px 0px 100px 0px;
}

.submit_button {
  width: 160px;
  height: 50px;
  background-color: #111111;
  color: $backgroundColor;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.submit_button:hover {
  border: 2px solid $greyColor;
}

// Contact Content // Contact Content // Contact Content // Contact Content // Contact Content // Contact Content

.contactContent {
  background-color: $blackColor;
  height: 100vh;
  display: flex;
  align-items: center;
}

.map {
  width: 101.55vh;
  height: 100%;
  background-image: url("https://github.com/ThelmaGuerra/Deco-Images/blob/main/images/mapa%20recife%201.jpg?raw=true");
  background-position: center;
  background-repeat: no-repeat;
}

.contactBrackets {
  font-family: "Prata", serif;
  font-size: 333px;
  margin-top: 65px;
  margin-left: 100px;
  font-weight: 100;
  color: $backgroundColor;
}

.information {
  margin-top: 40px;
  margin-left: 40px;
  height: 40vh;
  color: $backgroundColor;
}

.information div {
  margin-bottom: 80px;
}

.information h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.information h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

//Portfolio Content //Portfolio Content //Portfolio Content //Portfolio Content //Portfolio Content //Portfolio Content

.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.portfolioContent h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 38px;
  color: $backgroundColor;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(to top, #38342c 0%, rgba(3, 3, 3, 0.5) 50%),
    url("https://images.unsplash.com/photo-1600224503431-2b507981ad32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80");
  background-size: cover;
  background-position-y: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioButtons {
  
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.portfolioCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.portfolioButtons Button {
  background-color: $backgroundColor;
  width: 120px;
  height: 45px;
  border: none;
  font-family: "Rufina", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border-bottom: #c2c0c0 2px solid;
}

.portfolioButtons Button h2 {
  font-weight: 300;
  font-size: 22px;
}

.portfolio_multi_selection {
  display: none;
}

#Todos:hover + .BsGrid1X2,
#Casamento:hover + .GiDiamondRing,
#Evento:hover + .GiGlassCelebration,
#Aniversário:hover + .GiPartyPopper {
  opacity: 1;
  transition: 0.5s 0.1s;
  transform: translate(0px, 0px);
}

#Todos {
  margin-bottom: 8px;
}

#Todos:focus + .BsGrid1X2,
#Casamento:focus + .GiDiamondRing,
#Evento:focus + .GiGlassCelebration,
#Aniversário:focus + .GiPartyPopper {
  opacity: 1;
  transform: translate(0px, 0px);
}

.BsGrid1X2 {
  font-size: 30px;
  stroke-width: 0.5;
  margin-top: 10px;
  color: #816e68;
  opacity: 0;
  transform: translate(0px, -20px);
  overflow: hidden;
}

.GiDiamondRing {
  color: #816e68;
  border-radius: 5px;
  opacity: 0;
  transform: translate(0px, -20px);
  overflow: hidden;
  font-size: 38px;
  margin-top: 10px;
}

.GiGlassCelebration {
  color: #816e68;
  opacity: 0;
  transform: translate(0px, -20px);
  overflow: hidden;
  font-size: 40px;
  margin-top: 10px;
}

.GiPartyPopper {
  color: #816e68;
  font-size: 40px;
  opacity: 0;
  transform: translate(0px, -20px);
  overflow: hidden;
  margin-top: 10px;
}

.portfolioButtons Button:hover,
.portfolioButtons Button:focus {
  border-bottom: #956240 2px solid;
  cursor: pointer;
}

.portfolioImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
  width: 100%;

}

.above_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: left;
  background-size: 120% 130%;
}

.nav_link_portfolio {
  width: 100%;
  height: 100%;
}


.img_div:hover {
  filter: brightness(35%);
  cursor: pointer;
  background-position: center;
}

.above_div h2:hover + .img_div {
  filter: brightness(35%);
  cursor: pointer;
  background-position: center;
}

.img_div {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-position: left;
  background-size: 120% 160%;
  animation: slide-left 1s ease-in-out forwards !important;
}

.above_div h2 {
  z-index: 1;
  position: absolute;
  color: $backgroundColor;
  font-size: 40px;
  font-weight: 300;
  overflow-y: hidden;
  max-height: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.nav_link_portfolio:hover + h2,
.img_div:hover + h2,
.above_div h2:hover {
  max-height: 50px;
}

.above_div .border {
  position: absolute;
  top: 29vh;
  width: 200px;
  overflow-x: hidden;
  max-width: 0;
  border-top: 2px solid $backgroundColor;
}

.nav_link_portfolio:hover ~ .border,
.img_div:hover ~ .border,
.above_div .border:hover,
.above_div h2:hover + .border {
  max-width: 200px;
  transition: all 0.8s ease-in-out;
}

.portfolioImages div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.portfolioImages div:nth-child(1) div {
  background-size: cover !important;
  animation: slide-right 1s ease-in-out forwards !important;
}

.portfolioImages div:nth-child(1) .border {
  top: 56vh;
  width: 350px;
}

.portfolioImages div:nth-child(1) .border:hover,
.portfolioImages div:nth-child(1):hover .border {
  top: 56vh;
  width: 350px;
  max-width: 350px;
}

.portfolioImages div:nth-child(5) .border {
  top: 56vh;
  width: 200px;
}
.portfolioImages div:nth-child(7) .border {
  top: 56vh;
  width: 200px;
}

.portfolioImages div:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.portfolioImages div:nth-child(5) div {
  background-size: 120% 160% !important;
}

.evento3 {
  background-position: 0% 40%;
}
.evento3:hover {
  background-position: 50% 40%;
}

.evento5 div {
  background-size: 120% 250% !important;
}

.evento8 {
  background-size: 120% 120% !important;
  background-position: 0% 0%;
}

.evento8:hover {
  background-position: 50% 0%;
}

.portfolioImages div:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 7;
}

.portfolioImages div:nth-child(7) div {
  background-size: 120% 130% !important;
}

// Event Page // Event Page // Event Page // Event Page // Event Page // Event Page

// Event Page Content 1 // Event Page Content 1 // Event Page Content 1 // Event Page Content 1


.eventContent > div {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $backgroundColor;
  
}

.eventContent > div > div {
  background-color: $blackColor;
  opacity: 0.5;
  width: 400px;
  height: 150px;
  position: fixed;
  margin-top: 430px;
  
}

.eventContent .event_arrow_icon {
  position: fixed;
  font-size: 40px;
  margin-top: 345px;
  animation: slide-top-arrow 1.7s linear infinite;
  
}

.eventContent .evento2_eventContent  {
  background-color: $backgroundColor;
  
}



.eventContent > div > div:hover,
.eventContent h1:hover ~ div,
.eventContent h2:hover ~ div,
.eventContent h3:hover ~ div {
  opacity: 0.8;
}

.eventContent h1 {
  margin-top: 400px;
  font-weight: 300;
  font-size: 38px;
  position: fixed;
  z-index: 1;
}

.eventContent h2 {
  margin-top: 480px;
  font-weight: 300;
  font-size: 24px;
  position: fixed;
  z-index: 1;
}

.eventContent h3 {
  margin-top: 530px;
  font-weight: 300;
  font-size: 22px;
  position: fixed;
  z-index: 1;
}

.vila_recepções_eventContent h1,
.vila_recepções_eventContent h2,
.vila_recepções_eventContent h3 {
  color: $backgroundColor;
}

.evento3_eventContent:nth-child(1) {
  background-position: 50% 38%;
}

.evento3_eventContent:nth-child(2) {
  background-position: top;
}

.evento3_eventContent:nth-child(4) {
  background-position: bottom;
}

// ANIMATIONS // ANIMATIONS // ANIMATIONS // ANIMATIONS // ANIMATIONS // ANIMATIONS // ANIMATIONS // ANIMATIONS

@keyframes slide-top-icons {
  0% {
    transform: translate(0px, -30px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    transform: translate(0px, -30px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes slide-top-arrow {
  0% {
    transform: translate(0px, -10px);
  }

  50% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(0px, -10px);
  }
}

@keyframes scale_ {
  0% {
    transform: scale(1.04);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translate(70px);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translate(-70px);
    opacity: 0;
  }

  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes grey_background_object_animation {
  0%{
    transform: translateY(-1000px);
    opacity: 1;
    
  }
  33% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  75% {
    opacity: 1;
    transform: translateY(0px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(1000px);
  }
}

@keyframes grey_background_object_animation_reverse {
  0%{
    transform: translateY(1000px);
    opacity: 1;
    
  }
  33% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  75% {
    opacity: 1;
    transform: translateY(0px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(-1000px);
  }
}

@keyframes set-background-image {
  0% {
    background-image: url("https://github.com/ThelmaGuerra/Deco-Images/blob/main/images/eventos/Casamento3/mesaCasamento3.jpg?raw=true");
  }
  100% {
    background-image: url("https://github.com/ThelmaGuerra/Deco-Images/blob/main/images/eventos/Casamento3/mesaCasamento3.jpg?raw=true");
  }
}


@media (max-width: 1400px) {
  //CHANGE PORTFOLIO IMAGES
  .portfolioImages {
    grid-template-columns: 1fr;
  }

  .portfolioImages .above_div  {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .portfolioImages .above_div div {
    max-width: 100%;
  }

  .portfolioImages div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 1 !important;
  }
  .portfolioImages div:nth-child(5) {
    grid-column-start: 1 !important;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3 !important;
  }
  .portfolioImages div:nth-child(5) .evento3 {
    background-size: cover !important;
  }
  .portfolioImages div:nth-child(7) .evento5 {
    background-size: cover !important;
    
  }
  .portfolioImages div:nth-child(7) {
    grid-row-start: 5;
    grid-row-end: 5 !important;
  }

  .portfolioImages div:nth-child(7) div {
    grid-row-start: 5;
    grid-row-end: 5 !important;
  }

  .portfolioImages div div {
    background-size: cover !important;
    animation: slide-right 1s ease-in-out forwards !important;
  }

  // CHANGE BORDER
  .above_div .border {
    position: absolute;
    top: 30vh !important;
    width: 0px !important;
    overflow-x: hidden;
    max-width: 200px !important;
    border-top: 2px solid $backgroundColor;
  }
  
  .nav_link_portfolio:hover ~ .border,
  .img_div:hover ~ .border,
  .above_div .border:hover,
  .above_div h2:hover + .border {
    width: 200px !important;
    transition: all 0.8s ease-in-out !important;
  }
  .portfolioImages div:nth-child(1) div .border {
    width: 350px !important;
  }

  .above_div h2 {
    font-size: 34px !important;
  }

  
  .portfolioContent h1 {
    height: 22vh;
  }
  
  // NAVBAR CHANGES // NAVBAR CHANGES // NAVBAR CHANGES // NAVBAR CHANGES // NAVBAR CHANGES // NAVBAR CHANGES 

  .home_navbar_logo {
    margin-left: 25px;
  }
}

@media (max-width: 800px) {

  .navbar {
    justify-content: space-between ;
    height: 65px;
  }
  .navbar ul {
    display: none; 
  }

  .home_navbar_logo {
    margin-top: 5px;
    margin-left: 15px;
    border: 6px solid #251713;
    width: 108px;
    height: 42px;
    font-weight: 500;
  }

  .home_navbar_logo h1 {
    font-weight: 300;
    font-size: 53px;
  }

  .navbar_button {
    margin-top: 12px;
    display: flex ;
    margin-right: 15px;
    border: 1px solid $blackColor;
    border-radius: 4px;
    height: 40px;
    width: 40px;
  }
  
  // HOME NAVBAR // HOME NAVBAR // HOME NAVBAR // HOME NAVBAR 
  .homeNavbar {
    justify-content: space-between ;
  }
  
  .homeNavbar ul {
    display: none; 
  }

  // PORTFOLIO // PORTFOLIO // PORTFOLIO // PORTFOLIO 
  .portfolioImages {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 15px;
  }
  
  .portfolio_multi_selection {
    display: block;
    width: 380px;
    margin: 0px;
    font-size: 18px;
  }
  
  .portfolioButtons{
    margin: 0px;
  }

  .portfolioContent {
    margin-bottom: 0px;
  }
  .portfolioContent h1 {
    margin-bottom: 15px; 
  }

  .portfolioCell {
    display: none;
  }
  .current_multi_selection_icon {
    margin-left: 20px;
  }
  
  .BsGrid1X2 {
    font-size: 35px;
    stroke-width: 0.5;
    margin-top: 10px;
    color: #816e68;
    opacity: 1;
    transform: none;
  }

  .GiDiamondRing {
    font-size: 40px; 
    margin-top: 5px;
    opacity: 1;
    transform: none;
  }

  .GiGlassCelebration {
    font-size: 45px;
    margin-top: 0px;
    opacity: 1;
    transform: none;
  }

  .GiPartyPopper {
    font-size: 45px;
    margin-top: 0px;
    opacity: 1;
    transform: none;
  }

  // Footer // Footer // Footer // Footer // Footer // Footer // Footer // Footer 
  .footer {
    height: 55vh;
  }
  .main_footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    
  }
  
  .contact_footer,
  .location_footer,
  .social_media_footer {
    margin-left: 100px;
    border-bottom: 1px solid #9c9c9c;
  }

  .social_media_footer {
    border: none;
  }
  
  .contact_footer h1,
  .location_footer h1,
  .social_media_footer h1 {
    font-size: 22px;
    font-weight: 300;
  }
  
  .contact_footer h2,
  .location_footer h2,
  .social_media_footer h2 {
    font-size: 17px;
    font-weight: 300;
  }
  
  .social_media_footer {
    width: 200px;
    height: 120px;
  }
  
  .social_media_footer_icons * {
    font-size: 25px;
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .social_media_footer_icons *:hover {
    color: rgba(241, 156, 110, 0.694);
    cursor: pointer;
  }
  
  .social_media_footer h2 {
    margin: 0;
  }
  
  .copyright {
    background-color: #17110f;
    height: 30px;
    padding: 1px;
  }
  
  .copyright div {
    margin-top: 5px;
    color: $backgroundColor;
    font-size: 12px;
    margin-left: 15px;
    font-family: "Titillium Web", sans-serif;
  }

}